@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
}
*:focus {
  outline: 0;
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background: #f2f2f2;
}

.popup-open-btn {
  border: 2px solid #f34b8c;
  border-radius: 5px;
  min-height: 50px;
  height: 50px;
  line-height: 50px;
  color: #f34b8c;
  padding: 0 40px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.popup .settings-popup {
  padding: 85px 100px;
  background: #fff;
  border-radius: 15px;
  max-width: 912px;
  width: 912px;
  box-shadow: 0 67px 55px -34px rgba(85, 26, 83, 0.1);
  position: relative;
}
.popup .settings-popup .close-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40px;
  right: 40px;
  align-items: center;
  cursor: pointer;
}
.popup .settings-popup .close-popup img {
  width: 24px;
  height: 24px;
  opacity: 0.6;
}
.popup .settings-popup h3 {
  font-weight: 900;
  font-size: 28px;
  color: #874285;
  margin-bottom: 55px;
}
.popup .settings-popup ul li {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup .settings-popup ul li:last-child {
  margin-bottom: 0;
}
.popup .settings-popup ul li .item h5 {
  font-size: 20px;
  font-weight: 900;
  color: #874285;
  margin-bottom: 13px;
}
.popup .settings-popup ul li .item p {
  font-size: 16px;
  line-height: 22px;
  color: #242e4c;
}
.popup .settings-popup ul li .item select {
  margin-top: 35px;
  width: 330px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #d8dbe6;
  padding: 0 20px;
  font-size: 20px;
  color: #242e4c;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-image: url(../img/down.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
}
.popup .settings-popup ul li .item select:hover {
  border-color: #9298ad;
}
.popup .settings-popup ul li .checkbox-input input {
  display: none;
}
.popup .settings-popup ul li .checkbox-input input:checked + .checkbox::before {
  background: #874285;
  left: 33px;
}
.popup .settings-popup ul li .checkbox-input .checkbox {
  width: 66px;
  display: block;
  height: 37px;
  border: 2px solid #d8dbe6;
  border-radius: 37px;
  position: relative;
  cursor: pointer;
}
.popup .settings-popup ul li .checkbox-input .checkbox::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #9298ad;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: 300ms left ease-in-out, 300ms background-color ease-in-out;
}
.popup .settings-popup .actions {
  display: flex;
  align-items: center;
  margin-top: 55px;
}
.popup .settings-popup .actions a {
  border: 2px solid #d8dbe6;
  border-radius: 6px;
  height: 54px;
  width: 161px;
  display: grid;
  place-items: center;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #9298ad;
}
.popup .settings-popup .actions a:hover {
  border-color: #9298ad;
  color: #5d647c;
}
.popup .settings-popup .actions a.active {
  background-color: #f34b8c;
  border-color: #f34b8c;
  color: #fff;
}
.popup .settings-popup .actions a:last-child {
  margin-right: 0;
}
.popup .settings-popup hr {
  height: 1px;
  background: #d8dbe6;
  margin: 45px 0;
}

input[data-popup] {
  display: none;
}
input[data-popup]:checked + .popup {
  display: flex;
}/*# sourceMappingURL=style.css.map */