@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  &:focus {
    outline: 0;
  }
}

body {
  background-color: #f6f8fc;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.help-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  pad: 25px 0;
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #202842;
    margin-bottom: 52px;
    text-align: center;
  }
  .inner {
    width: 558px;
    form {
      position: relative;
      margin-bottom: 66px;

      .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 68px;
        height: 63px;
        display: grid;
        place-items: center;
        cursor: pointer;
      }

      input {
        background-color: #fff;
        border-radius: 10px;
        height: 63px;
        width: 100%;
        box-shadow: 0 9px 10px -4px rgba(#c9d6ef, 0.46);
        padding: 0 20px 0 68px;
        color: #202842;
        font-size: 16px;
        &::placeholder {
          color: #828d97;
        }
      }
    }
    .dropdown-container {
      margin-bottom: 70px;
      li {
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }

        label {
          display: flex;
          align-items: flex-start;
          padding-top: 5px;
          font-size: 18px;
          color: #202842;
          height: 51px;
          justify-content: space-between;
          border-bottom: 1px solid #dee4f1;
          cursor: pointer;
        }

        input {
          display: none;
          &:checked + label + .dropdown-content {
            max-height: 50vh;
            padding: 15px 0;
          }
        }

        .dropdown-content {
          overflow: hidden;
          max-height: 0;
          transition: 700ms all ease;
          font-size: 18px;
          line-height: 1.5;
          color: rgba(#202842, 0.6);
        }
      }
    }
  }
  .help-articles {
    width: 838px;
    ul {
      display: flex;
      margin: 0 calc(-35px / 2);
      li {
        margin: 0 calc(35px / 2);
        a {
          display: block;
          box-shadow: 0 9px 10px -4px rgba(#c9d6ef, 0.46);
          border-radius: 10px;
          background: #fff;
          transition: 300ms transform ease-in;
          img {
            width: 100%;
            border-radius: 10px 10px 0 0;
            display: block;
            height: 128px;
            object-fit: cover;
          }
          .title {
            text-align: center;
            color: #202842;
            font-size: 14px;
            display: block;
            padding: 15px;
          }

          &:hover {
            transform: scale(1.04);
          }
        }
      }
    }
  }
}
