@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  font-family: "Mulish", sans-serif;

  &:focus {
    outline: none;
  }
}

body {
  background-color: #202035;
}

.component {
  border-radius: 10px;
  background-color: #1b1b30;
  margin: 0 50px 25px;

  &--help {
    padding: 40px 50px;
    text-align: center;
    h5 {
      font-weight: normal;
      font-size: 36px;
      color: #bbbbd7;
      margin-bottom: 25px;
    }
    form {
      width: 100%;
      position: relative;
      input {
        border: 1px solid #454564;
        width: 100%;
        height: 72px;
        background-color: #2a2a42;
        border-radius: 40px;
        padding: 0 40px 0 75px;
        font-size: 18px;
        color: #fff;
        transition: 300ms border-color linear;

        &::placeholder {
          color: rgba(#fff, 0.6);
        }

        &:focus {
          border-color: lighten($color: #454564, $amount: 9%);
        }
      }

      .search-icon {
        position: absolute;
        width: 72px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 30px;
          color: rgba(#fff, 0.6);
        }
      }
    }
  }

  &--sidebar {
    width: 307px;
    padding: 30px;
    h6 {
      font-size: 18px;
      font-weight: bold;
      color: #bbbbd7;
      margin-bottom: 15px;
    }

    nav {
      ul {
        li {
          a {
            display: block;
            font-size: 16px;
            color: #786cd5;
            padding: 5px 0;
            transition: 300ms color ease-out;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }

    hr {
      background: #141428;
      height: 2px;
      margin: 25px 0;
    }

    p {
      font-size: 16px;
      color: #bbbbd7;
      line-height: 24px;
      padding-right: 20px;
      margin-bottom: 20px;
    }

    .button {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 5px;
      background-color: #786cd5;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      transition: 300ms background-color linear;
      &:hover {
        background-color: darken($color: #786cd5, $amount: 10%);
      }
    }
  }

  &--list {
    margin: 0 50px;
    ul {
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          display: flex;
          justify-content: space-between;
          background-color: #1b1b30;
          padding: 30px;
          transition: 300ms transform linear;
          .inner {
            .title {
              font-size: 18px;
              font-weight: bold;
              display: block;
              color: #bbbbd7;
              margin-bottom: 20px;
            }

            .description {
              color: #bbbbd7;
              line-height: 20px;
              font-size: 16px;
            }
          }

          .category {
            margin-left: 40px;
            display: inline-flex;
            height: 36px;
            align-items: center;
            padding: 0 18px;
            color: var(--color);
            font-size: 16px;
            position: relative;

            &::before {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              border-radius: 36px;
              top: 0;
              left: 0;
              background-color: var(--color);
              opacity: 0.05;
            }
          }
          &:hover {
            transform: scale(1.02);
          }
        }
      }
    }
  }
}
